.comment-container {
  background-color: #e3f2fd;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: bold; /* Жирный текст */
}


.comment-container p {
  margin: 0;
}
