{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="mapid">
    <!-- Контент внутри карты здесь -->
</div>

<div id="point-list" class="side-menu">
    <h3>Сведения о местах</h3>
    <div id="infoContainer">
        {% for place in places %}
        <div class="comment-avatar">
            <i class="fas fa-exclamation"></i>
        </div>
        <div class="author">{{ place.user.username }}</div>
        <div class="comment">{{ place.comment }}</div>
        <div class="time">{{ place.created_at }}</div>
        <div class="comment-avatar">
            {% if place.user.avatar %}
            <img src="{{ place.user.avatar.url }}" alt="Аватар пользователя">
            {% else %}
            <i class="fas fa-exclamation"></i>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

<div id="error-container" class="error-container"></div>

<script type="text/javascript">
    let userAuthenticated = "{{ user_authenticated }}";

</script>
<script>
    var currentUser = "{{ user.id }}"; // Здесь у вас будет ID текущего пользователя

</script>

<script type="text/javascript">var places = JSON.parse('{{ places_json | escapejs }}');</script>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
