{% extends "base.html" %}

{% block content %}
<div id="mapid" style="height: 100vh; width: 70%; float: left;"></div>

<div id="point-list" style="height: 100vh; width: 30%; overflow-y: auto;">
    <h3>Сведения о местах</h3>
    <div id="infoContainer"></div>
</div>

<script>
    var map = L.map('mapid').setView([48.3794, 31.1656], 6); // Украина

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
    }).addTo(map);

    var markersLayer = L.layerGroup().addTo(map);
    var infoContainer = document.getElementById('infoContainer');

    function createMarker(latitude, longitude, comment) {
        var marker = L.marker([latitude, longitude]).addTo(markersLayer);
        marker.bindPopup(comment);

        return marker; // Возвращаем созданный маркер
    }

    function createListItem(comment) {
        // Добавляем точку в список точек
        var infoElement = document.createElement('p');
        infoElement.textContent = comment;
        infoContainer.appendChild(infoElement);
    }

    var visibleMarkers = []; // Массив видимых маркеров

    {% for place in places %}
        var marker = createMarker({{ place.latitude }}, {{ place.longitude }}, '{{ place.comment }}');
        visibleMarkers.push(marker); // Добавляем маркер в массив видимых маркеров
    {% endfor %}

    map.on('moveend', updateVisibleMarkers);
    map.on('zoomend', updateVisibleMarkers);

    function updateVisibleMarkers() {
        // Очищаем список точек перед обновлением
        infoContainer.innerHTML = '';

        // Получаем границы видимой области карты
        var bounds = map.getBounds();
        visibleMarkers = [];

        // Фильтруем точки, оставляя только те, которые находятся в пределах видимой области
        markersLayer.eachLayer(function(marker) {
            var latlng = marker.getLatLng();
            if (bounds.contains(latlng)) {
                visibleMarkers.push(marker);
            }
        });

        // Добавляем точки в список точек
        visibleMarkers.forEach(function(marker) {
            var comment = marker.getPopup().getContent();
            createListItem(comment);
        });
    }

    map.on('click', function(e) {
        var popup = L.popup({ closeButton: false })
            .setLatLng(e.latlng)
            .setContent('<form id="comment-form">' +
                '<input type="text" id="comment-input" placeholder="Введите комментарий">' +
                '<button type="submit">Сохранить</button>' +
                '</form>')
            .openOn(map);

        var commentForm = document.getElementById('comment-form');
        var commentInput = document.getElementById('comment-input');

        commentForm.addEventListener('submit', function(event) {
            event.preventDefault();

            var latitude = e.latlng.lat.toFixed(6);
            var longitude = e.latlng.lng.toFixed(6);
            var comment = commentInput.value;

            if (comment) {
                var payload = new FormData();
                payload.append('latitude', latitude);
                payload.append('longitude', longitude);
                payload.append('comment', comment);

                fetch('/create/', {
                    method: 'POST',
                    headers: { 'X-CSRFToken': getCookie('csrftoken') },
                    body: payload
                }).then(function(response) {
                    if (response.ok) {
                        response.json().then(function(data) {
                            var marker = createMarker(data.latitude, data.longitude, data.comment);
                            visibleMarkers.push(marker); // Добавляем маркер в массив видимых маркеров
                            createListItem(data.comment);
                            map.closePopup(popup);
                        });
                    } else {
                        console.error('Ошибка сохранения комментария');
                    }
                }).catch(function(error) {
                    console.error(error);
                });
            }
        });
    });

    document.addEventListener('click', function(event) {
        if (event.target.classList.contains('leaflet-marker-icon')) {
            var marker = event.target;
            var latitude = marker.getLatLng().lat.toFixed(6);
            var longitude = marker.getLatLng().lng.toFixed(6);

            fetch('', {
                method: 'GET',
            }).then(function(response) {
                if (response.ok) {
                    response.json().then(function(data) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].latitude === latitude && data[i].longitude === longitude) {
                                marker.bindPopup(data[i].comment).openPopup();
                                break;
                            }
                        }
                    });
                } else {
                    console.error('Ошибка получения данных места');
                }
            }).catch(function(error) {
                console.error(error);
            });
        }
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}
